<div class="section">
    <section>
        <div class="row">
            <div class="col col--small-12 col--medium-12 col--large-8 col--large-offset-2">
                {{ bioInclude 'components/headline/headline' }}
            </div>
            <div class="col col--small-12 col--medium-6 col--large-4">
                {{ bioInclude 'components/headline/headline' }}
            </div>
            <div class="col col--small-12 col--medium-6 col--large-4">
                {{ bioInclude 'components/headline/headline' }}
            </div>
            <div class="col col--small-12 col--medium-10 col--large-4">
                {{ bioInclude 'components/headline/headline' }}
            </div>
        </div>
    </section>
</div>