<div class="list" data-resources="[{paths: ['components/list/scss/list.css', 'components/list/js/list.js']}]">
    <h2 class="list__headline">Das könnte die Überschrift der Liste darstellen.</h2>
    <p class="list__description">Beschreibung der Liste.</p>
    <ul>
        <li class="list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis beatae praesentium
            quod aliquid
            molestias repellendus architecto culpa aliquam iure. Culpa reprehenderit hic quae itaque! Deleniti neque
            nesciunt natus aut quam?</li>
        <li class="list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li class="list__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic alias quia deleniti placeat
            eum, cum commodi
            nam tempora illo voluptatibus animi delectus quis ratione quas ex corporis. Magni, cum quae!Ullam et
            voluptate nostrum iure aperiam facere placeat, quasi enim alias illum iusto voluptatum ut nemo deserunt.
            Eius in facere doloremque similique cumque, vitae fuga, dolor voluptas iure consequuntur repellendus!</li>
        <li class="list__item">Lorem ipsum dolor</li>
        <li class="list__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusantium sit nesciunt
            doloremque fugit
            cupiditate, harum eligendi voluptatem quis deserunt maxime quisquam a asperiores similique sequi assumenda,
            deleniti dolorem vel!
            Quas doloremque dignissimos dolorum facilis, animi excepturi accusantium perspiciatis dolores assumenda
            tempora vitae deserunt eum sint illo aspernatur impedit voluptatum voluptas quis error perferendis numquam
            consectetur dolorem sapiente. Provident, autem!
            Ad nesciunt qui voluptate, eos, nam assumenda facilis soluta, quas blanditiis voluptatibus debitis. Cumque
            deserunt optio suscipit praesentium sequi natus, maxime nobis consectetur quod eos? Quam repellat
            architecto amet quo.</li>
    </ul>
</div>