
@mixin host($componentName) {
  #{$componentName} {
    box-sizing: border-box;
    overflow: auto;
    display: block;
    @content;
  }

  :host {
    box-sizing: border-box;
    overflow: auto;
    display: block;
    @content;
  }
}

@mixin reset {
  html,
  body {
    margin: 0;
    border: 0;
    padding: 0;
  }
}
