<div class="section">
    <section>
        <div class="row">
            <div class="col col--small-12 col--medium-6">
                {{ bioInclude 'components/list/list' }}
            </div>
            <div class="col col--small-12 col--medium-6">
                {{ bioInclude 'components/list/list' }}
            </div>
        </div>
    </section>
</div>