<div class="section">
    <section>
        <div class="row">
            <div class="col col--small-12 col--medium-8 col--medium-offset-2 col--large-6 col--large-offset-3">
                {{ bioInclude 'components/accordion/accordion'}}
            </div>
        </div>
    </section>
</div>