<div class="headline" data-resources="[{paths: ['components/headline/scss/headline.css', 'components/headline/js/headline.js']}]">
    <h1>Das ist eine Überschrift.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex tempora saepe
        reprehenderit itaque neque, ipsam quasi soluta blanditiis debitis beatae! Itaque modi laudantium cum odit quos
        reiciendis quisquam ea iure! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, fugit labore
        deleniti velit maxime cumque distinctio ullam.</p>
</div>