<div class="accordion" data-resources="[{paths: ['components/accordion/scss/accordion.css', 'components/accordion/js/accordion.js']}]"
    data-init="(function ($elm) {$elm.accordion();})">
    <div class="accordion__panel">
        <h3 class="accordion__title">Panel</h3>
        <div class="accordion__content">
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Eveniet laudantium voluptate facere laboriosam
                error</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h3 class="accordion__title">Panel</h3>
        <div class="accordion__content">
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Eveniet laudantium voluptate facere laboriosam
                error</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h3 class="accordion__title">Panel</h3>
        <div class="accordion__content">
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Eveniet laudantium voluptate facere laboriosam
                error</p>
        </div>
    </div>
</div>