<div class="accordion" data-resources="[{paths: ['components/accordion/scss/accordion.css', 'components/accordion/js/accordion.js']}]"
    data-init="(function ($elm) {$elm.accordion();})">
    <section>
        <button class="accordion__button"><span>What's in here?</span></button>
        <div class="accordion__content">
            <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                laudantium
                voluptate facere laboriosam error</p>
        </div>
    </section>
    <section>
        <button class="accordion__button"><span>What's in here?</span></button>
        <div class="accordion__content ">
            <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laudantium
                voluptate facere laboriosam error</p>
        </div>
    </section>
    <section>
        <button class="accordion__button"><span>What's in here?</span></button>
        <div class="accordion__content">
            <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laudantium
                voluptate facere laboriosam error</p>
        </div>
    </section>
    <section>
        <button class="accordion__button"><span>What's in here?</span></button>
        <div class="accordion__content">
            <p class="accordion__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laudantium
                voluptate facere laboriosam error</p>
        </div>
    </section>
</div>